@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
}

body,
html {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: rgb(255, 255, 255);
}

.Home {
  position: relative;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #50c5ee 60%,
    rgba(0, 212, 255, 0.5) 100%
  );
  min-height: calc(100vh - 60px);
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  color: black;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.Home > h2 {
  display: flex;
  justify-content: space-around;
  color: rgb(0, 0, 0);
}

.Home > div {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.Home__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 350px) {
  .Home__container {
    justify-content: unset;
  }
}

.PaletaLista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
  .PaletaLista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .PaletaLista {
    grid-template-columns: 1fr;
  }
}

.PaletaCardItem,
.PaletaListaItem {
  font-family: "Exo";
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  display: flex;
  justify-content: space-around;
}

.PaletaCardItem {
  margin: 20px 0;
  height: 150px;
  width: auto;
}

@media (max-width: 400px) {
  .PaletaCardItem,
  .PaletaListaItem {
    width: 210px;
    height: 180px;
  }
}

.PaletaCardItem > div,
.PaletaListaItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.PaletaCardItem__sabor,
.PaletaListaItem__sabor {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}

.PaletaCardItem__descricao,
.PaletaListaItem__descricao {
  font-size: 0.85em;
}

.PaletaCardItem__preco,
.PaletaListaItem__preco {
  color: darkviolet;
}

.PaletaListaItem__foto {
  height: 150px;
  margin-right: -60px;
}
